HTML-CSS/logo.png
HTML-CSS/logo (copy).png
Python-Django/Python/PracticeProblems/.ipynb_checkpoints/*
Python-Django/Python/Assignments/Assignment-1/.pytest_cache/*
Python-Django/Python/Assignments/Assignment-1/__pycache__/*
Python-Django/Python/Assignments/.vscode/*
Python-Django/Python/Assignments/Assignment-1/.ipynb_checkpoints/*
*.png
Python-Django/Python/**/**/*.log
