html,
body {
    margin: 0;
    background-color: #f2f6ff;
}

.navbar {
    background-color: transparent !important;
}

#nav-menu {
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
}

#logo {
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 32px;
    color: #0086ff;
    display: inline-block;
    margin: 0px 25px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1rem;
}

/* Button group */
.category-buttons {
    margin-bottom: 10px;
    margin-top: 1rem;
    width: 100%;
}

.category-buttons button {
    display: inline-block;
    color: rgb(0, 132, 255);
    border: 1px solid rgb(0, 132, 255);
    border-radius: 20px;
    background-color: white;
    font-family: "Raleway";
    font-size: 12px;
    cursor: pointer;
    min-width: 50px;
    padding: 6px 14px;
    margin: 5px;
}

.filter-ico{
    margin-top: 5rem;
    font-size: 24px;
    color: blueviolet;
    vertical-align: middle;
}

.filter-content{
    margin-left: 1rem;
    color:black;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-weight: 600;
}
/* End Button Group*/

/* Body Content */

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-content{
    margin-top: 10px;
}
a:hover {
    text-decoration: none;
}

.card-title {
    font-size: x-large;
}

.card-body {
    color: black;
}

.post-title{
    margin-top: 6rem;
}