html,
body {
    margin: 0;
    background-color: #f2f6ff;
}

.navbar {
    background-color: transparent !important;
}

#nav-menu {
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
}

#logo {
    font-weight: 900;
    font-size: 32px;
    color: #0086ff;
    display: inline-block;
    margin: 0px 25px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.25rem;
}


/* Body Content */

.container {
    margin-top: 3rem;
}

a:hover {
    text-decoration: none;
}

.card-title {
    font-size: x-large;
}

.card-body {
    color: black;
}