{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- Filtering Options starts here-->
    <div class="container">
        <i class="fas fa-filter filter-ico">
            <span class="filter-content"> Filter by category </span>
        </i>
    </div>
    <div class="category-buttons container">
        <button>All</button>
        <button>Artificial Intelligence</button>
        <button>Cloud Computing</button>
        <button>DevOps</button>
        <button>Programming Languages</button>
        <button>Mobile Application Development</button>
        <button>Technology and Tools</button>
        <button>Get a Job in a Tech Company</button>
        <button>Others</button>
    </div>
    <!-- End Filter Options -->

    <!-- Home page content starts here -->
    <div class="container card-content">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            {% for post in posts %}
                <div class="col mb-4">
                    <a href="blog/{{ post.id }}">
                        <div class="card h-100 mx-0" style="width:rem; height:20rem;">
                            <img class="card-img-top" src="https://edyoda.s3.amazonaws.com/media/blog-images/edyoda_WxvDSK1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content | truncatechars:100 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Home page content ends here -->
{% endblock content %}